@import "reset.css";

/*components*/

/*Screens*/
@import "screens/welcome.css";


* {
    color: whitesmoke;
}

body{
    background-color: black;   
    align-items: center;
    justify-content: center;
}
.gradient-cover{
    width: 99.8vw;
    height: 99vh; 
    z-index: 1;  
    background: radial-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7));
    position: absolute;
    top: 0;    
}
.main-screen{
    width: 99.8vw;
    height: 99vh;       
    position: absolute;   
    display: flex;
    align-items:center;
    justify-content: center;
}

#background-img--index img{
    width: 99.8vw;
    height: 99vh;
    object-fit: cover;        
    position: absolute;
    top: 0;
    left: 0;
}

#clock{
    position: absolute;
    font-size: 21vh;
    z-index: 2; 
}

.left-pannel{
    position: absolute;
    left : 20px;
    z-index: 2; 
}
#greeting{
    position: absolute;
    top: 5vh;
    left: 5vh;
    z-index: 2;
    font-size: 4vh;
}
#quote{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 5vh;
    font-size: 2.5vh;
    font-style: italic;    
    line-height: 2.9vh;
    z-index: 2; 
}
#quote span:first-child{
    display:flex;
}

.right-pannel{    
    z-index: 2; 
    position: absolute;
    right: 6vh;
    top: 5vh;
    height: 80vh;
    width: 19vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.d-day{
    position: absolute;
    top: 0;
    font-size: 7vh;
    
    
}
.user-d-day{
    position: absolute;
}
#userdate{
    position: absolute;
    top: 0;     
    display: flex;
    align-items: center;
    justify-content: center;
        
}
#userdate input{
    width: 17vw;
    margin-left: -9.7vw;    
    background-color: rgba(245, 245, 245, 0.6);
    border: 0;
    font-size: 2.5vh;   
    border-radius: 5px;
    padding: 1vh 1vh 1vh 1.5vh;
}
#userdate button{
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    position: absolute;
    right: -3vw;    
}
#reset-d-day{   
    opacity: 0.4;  
    position: absolute;
    top: 9.2vh;
    right: -0.5vh;
    font-size: 3vh;      
}
#reset-d-day:hover{
    cursor: pointer;
}
#today{
    position: absolute;
    top: 9vh;    
    font-size: 3vh;  
}
.todo{
    background-color: rgba(245, 245, 245, 0.2);
    position: absolute;
    left: 0;
    top: 15vh;
    height: 65vh;
    font-size: 2.5vh;
    border-radius: 5px;    
}
#todo-form input{
    width: 20vw;
    background-color: rgba(245, 245, 245, 0.5);
    border: 0;
    font-size: 2.5vh;
    color: black;
    border-radius: 5px 5px 0 0;
    padding: 1vh 1vh 1vh 1.5vh;
}
#todo-list{
    line-height: 5vh;
    padding: 1vh 1vh 1vh 1.5vh;
    align-items: center;
    position: relative;
}
li:hover{
    background-color: rgba(245, 245, 245, 0.4);
}
li{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;    
}
li button{
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    style: none;
    right: 1vh;    
    border: none;
    font-weight: 600;    
}
.progress{
    position: absolute;
    bottom: 11vh;
    left: 0;
    font-size: 3vh;
}
.alarm{
    position: absolute;
    bottom: 0vh;
    font-size: 3vh;
}
#geolocation{
    position:absolute;
    z-index:2;
    bottom: 5vh;
    right: 5vh;
    font-size: 2.3vh;
}


.hidden{
    visibility: hidden;
}

[data-tooltip-text]:hover {
	position: relative;
}
[data-tooltip-text]:hover:after {
	content: attr(data-tooltip-text);
    position: absolute;
    width: 25vh;
	bottom: 6vh;
	left: -1.5vh;
    border-radius: 5px;
    
    background-color: rgba(0, 0, 0, 0);
	color: #FFFFFF;
	font-size: 1vh;

	z-index: 9999;
}