.orbit-dots{
    display: flex;  
    width: 58px;
    height: 60px;
    position: relative;  
    margin: 25px auto;
}
  
@keyframes orbitAni{
    0%{
      transform: none;
    }    
    100%{
      transform: rotateY(360deg);
    }  
}
  
.orbit-dots__orbit{
    width: 60px;
    height: 60px;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: orbitAni 2.5s linear infinite;  
}
  
.orbit-dots__orbit-left,
.orbit-dots__orbit-right{
    height: 6px;
    width: 6px;  
    border-radius: 50%;
    background-color: white;
    margin: 30px 0px;   
}
  
.orbit-dots__still{
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: white;
    position: absolute;  
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 27px;    
}
  
 