#main-screen--hello{
    z-index: 100;
    position: absolute;    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.welcome-screen-frame{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;        
}
header{
    font-size: 20vh;    
    padding-bottom: 11vh;    
    margin-top: -22vh;
}
#login-form input{
    border: 0px;
    font-size: 4.2vh;
    background-color: rgba(245, 245, 245, 0.7);
    color: black;
    padding: 1vh 1vh 1vh 2.5vh;
    border-bottom: 3px;
    border-radius: 20px;    
}

#background-img--hello img{    
    width: 99vw;
    height: 99vh;
    object-fit: cover;        
}

