.welcome-screen-frame{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
}
.welcome-screen-frame h1{
    font-size: 20vh;      
    margin-top: -400px;
    padding-bottom: 300px;    
}
#login-form input{
    border: 0px;
    font-size: 4.2vh;
    background-color: rgba(245, 245, 245, 0.7);
    color: black;
    padding: 1vh 1vh 1vh 2.5vh;
    border-bottom: 3px;
    border-radius: 20px;    
}

#background-img img{
    width: 99vw;
    height: 99vh;
    object-fit: cover;        
}

